@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');


body {
    background-color: #f1f2f5;
    font-family: 'Poppins', sans-serif;
}

/* *, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

html{
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

li {
	list-style: none;
}

p {
  margin: 0 0 0 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
}

li a:hover, .logo a:hover {
	color:rgb(255, 213, 0);
}

nav .logo {
  position: relative;
  letter-spacing: 2px;
  transition: 0.6s;
}

nav.sticky {
  /* padding: 5px 100px; */
	background-color: none;
	backdrop-filter: blur(10px);
  /* background: linear-gradient(90deg, rgba(0,17,79,1) 0%, rgba(51,102,204,1) 100%); */	
}

.user-profile {
  border-radius: 50%;
  width: 40px;
  margin-right: 1rem;
  cursor: pointer;
}

.user-profile-info {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
}

.navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  /* overflow: hidden; */
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  background: linear-gradient(90deg, rgba(0,17,79,1) 0%, rgba(51,102,204,1) 100%);
}


.nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-search {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 2px;
  margin-left: 10px;
  border-radius: 999px;
}

.material-icons {
  margin-left: 10px;
}

.nav-search input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}

.nav-right {
  display: flex;
  align-items: center;
}

span#name {
  margin-right: 0;
}

.nav-info,.nav-info a{
  display: flex;
  align-items: center;
}

/* .nav-info.right {
  display: grid;
  grid-template-columns: auto auto;
} */

.nav-info.province {
  flex: 2;
  margin-right: 10px;
}

.province-name {
  font-family: 'Kanit', sans-serif;
  width: 150px;
}

.nav-info.count {
  flex: 1;
}

#name {
  margin-right: 2rem;
  color: #eff2f5;
  cursor: pointer;
}

ul.links {
  display: block;
  padding: 0 0 0 0;
  margin-bottom: 0;
  margin-right: 16px;
}

.main-body {
  display: flex;
  /* flex-direction: column; */
  position: relative;
  z-index: 0;
  margin-top: 70px;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  flex: 0.33;
  /* float: left; */
}

.sidebar-row {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  text-align: justify;
}

.sidebar-row:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebar-row h4 {
  margin-left: 1rem;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.75);
  font-size:large;
  margin-bottom: 0;
}

.message-box {
  display: flex;
  /* margin-top: 30px; */
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.message-box-top {
  display: flex;
  align-items: center;
  padding: 15px;
}

.message-box-top button {
  flex: 1;
  display: flex;
}

#btn-post {
  flex: 1;
  outline-width: 0;
  border: none;
  border-radius: 999px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  padding: 15px 20px;
  margin: 0 10px;
  background-color: #eff2f5;
}

.feed {
  position: relative;
  flex: 0.6;
  padding: 30px 0px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* post */
.post {
  font-family: 'Kanit', sans-serif;
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
}

.dropdown-menu-container {
  position: absolute;
  top: 10%; 
  right: 5%; 
}

.dropdown-menu {
  background-color: #f9f9f9; /* Light grey background color */
  border: none; /* Remove border */
  display: none;
  position: relative;
  /* backdrop-filter: blur(100px); */
}

.show {
  display: block;
}

.dropdown-item:hover {
  background-color: rgba(51,102,204,1);
  color: white;
  cursor: pointer;
}

.post-image img{
  width: 100%;
}

.post-top {
  display: flex;
  position: relative;
  align-items: flex-start;
  padding: 15px;
}

.post-avatar {
  margin-right: 10px;
  
}

.post-top-info {
  margin-left: 5px;
}

.post-top-info h3 {
  font-size: medium;
  color:black;
}

.post-top-info p {
  font-size: small;
  color: gray;
}

.post-buttom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post-options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: right;
  cursor: pointer;
  /* margin-right: 0; */
}

.post-option {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 5px;
  flex: 1;
}

.undo-hide {
  background-color: rgb(141, 179, 255);
  color: rgb(7, 53, 147);
  width: 100%;
  border: 1px solid rgba(51,102,204,1);
  padding: 10px;
  border-radius: 10px;
  display: none;
}

.undo-text, .undo-text.delete{
  float: right;
  text-decoration: underline;
}

.undo-text:hover {
  cursor: pointer;
}

.undo-text.deleted, .undo-text.hid {
  float: left;
}

.undo-delete {
  background-color: rgb(248, 133, 156);
  color: black;
  width: 100%;
  border: 1px solid rgb(220,20,60);
  padding: 10px;
  border-radius: 10px;
  display: none;
}

.close-back {
  float: right;
  transform: rotate(45deg);
  cursor: pointer;
  margin-left: 2%;
}

#hired {
  background-color:rgb(138, 138, 138);
  border: none;
  /* display: none; */
}

#hired:hover {
  cursor: default;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.navbar .toggle_btn {
	color: black;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.fa-bars, .fa-xmark {
  color: #fff;
}

.toggle_btn.active {
  color: #fff;
}

.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	height: 0;
	background-color: rgb(0, 0, 0, 0.5);
	backdrop-filter: blur(15px);
  border-radius: 10px;
	overflow: hidden;
	transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 999;
}

.dropdown_menu.open {
	height: auto;
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-submit {
  float: right; /* Float the button to the right */
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 20px;
  /* background: rgb(0,17,79); */
  border: none;
  background:  rgba(51,102,204,1);
}

.btn-submit:hover,
.btn-post:hover,
.btn-success:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add initial shadow */
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.btn-submit:active,
.btn-post:active {
  box-shadow: none; /* Remove shadow when button is clicked */
  transform: translateY(1px); /* Add slight downward movement */
}

.content-box {
  /* background-color: #ffffff; */
  margin-bottom: 10px;
}

.fa-ellipsis {
  font-size: 1rem; /* Adjust the size of the icon */
  color: #333; /* Adjust the color of the icon */
  cursor: pointer; /* Make the icon clickable */
  position: absolute;
  margin-top: 0.3rem;
  right: 3%;
}

/* .send {
  float: right;
  margin-right: 1rem;
} */

a:hover {
  color: white;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: fixed;
  top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 40rem;
  height: auto;
  background-color: white;
  border-radius: 4px;
  /* text-align: center; */
  padding: 20px;
  position: relative;
}

#place, #district, #amphoe, #province, #zipcode {
  width: 90%;
}

label {
  font-family: 'Kanit', sans-serif;
  font-weight: bold;
}

input {
  font-family: 'Kanit', sans-serif;
  margin: 0.4rem;
  border: none;
  border-bottom: 1px solid #333;
}

input:focus { 
  border: none;
  border-bottom: 1px solid #333;
}

#input-box:focus {
  border: none;
  outline: none;
}

.input-group {
  display: flex;
  align-items: center; 
}

.input-group label {
  margin-right: 10px;
  display: inline-block; /* Ensure label takes up its own space */
  line-height: 1; 
}

select {
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* For older versions of Safari */
  -moz-appearance: none; /* For older versions of Firefox */
  padding: 8px 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #fff; 
  color: #333; 
  font-size: 14px; 
}

select:hover,
select:focus {
  border-color: #007bff; 
}

select:focus {
  outline: none; 
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25); 
}

/* Arrow icon for the select element */
select::-ms-expand {
  display: none; /* Remove default arrow icon in IE */
}

select option {
  background-color: #fff; 
  color: #333; 
  padding: 8px 12px; 
}

select option:hover {
  background-color: #f0f0f0; 
}

select option:checked {
  background-color: #007bff; 
  color: #fff; 
}

textarea {
  border: none;
  width: 100%;
  height: 120px;
}

textarea:focus {
  outline: none;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.tag {
  padding: 15px;
}

.tag.salary{
  background-color: rgb(255, 242, 94);
  border: 2px solid rgb(255, 224, 20);
  border-radius: 10px;
  margin-top: 0;
  padding: 3px;
  font-size: 0.8rem;
  font-family: 'Kanit', sans-serif;
}

.tag.province{
  background-color:rgb(110, 233, 94);
  border: 2px solid rgb(76, 180, 62);
  border-radius: 10px;
  margin-top: 0;
  padding: 3px;
  font-size: 0.8rem;
  font-family: 'Kanit', sans-serif;
}

.tag.jobType{
  background-color:rgb(136, 217, 255);
  border: 2px solid rgb(72, 178, 228);
  border-radius: 10px;
  margin-top: 0;
  padding: 3px;
  font-size: 0.8rem;
  font-family: 'Kanit', sans-serif;
}

.post-bottom {
  padding: 15px;
}


.nav-info.hide {
  display: none;
}

@media(max-width: 991.98px){
	.navbar .links {
		display: none;
	}

	.navbar .toggle_btn {
		display: block;
	}

	.dropdown_menu {
		display: block;
	}
}

@media (max-width: 767.98px) {
  .dropdown_menu {
		right: 2rem;
    left: 65%;
		width: 200px;
	}

   /* .nav-search {
    display: none;
  } */

  .sidebar-row {
    display: none;
  }

  .feed, .post {
    width: 400px;
    justify-content: center;
  } 

  .nav-info.right {
    display: none;
  }

  .user-profile.right {
    display: block;
  }

  .nav-info.hide {
    display: block;
  }
}

@media(max-width: 575.98px){
	.dropdown_menu {
		right: 2rem;
    left: 55%;
		width: 200px;
	}

  /* .nav-search {
    display: none;
  } */

  .sidebar-row {
    display: none;
  }

  .feed, .post {
    width: 400px;
    justify-content: center;
  } 

  .nav-info.right {
    display: none;
  }

  .user-profile.right {
    display: block;
  }

  .nav-info.hide {
    display: block;
    margin-right: 10px;
  }

  .nav-search {
    width: 220px;
  }
}