body {
	background: linear-gradient(-45deg, #3366CC,#7058f8, #00114f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

nav {
	background-color: #3366CC;
	width: 100%;
	height: 50px;
}

nav > p {
	flex-direction: row;
}

.get-start-btn {
	border: none;
	border-radius: 10px;
}

.get-start-btn:focus {
	box-shadow: 0 0 0;
}