@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');



/* body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  background-color: #f6f4f4;
  font-family: 'Poppins', sans-serif;
} */

/* *, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/* html{
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
	overflow-x: hidden;
}

li {
	list-style: none;
}

p {
  margin: 0 0 0 0;
}

a {
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
} */

/* li a:hover, .logo a:hover {
	color:rgb(255, 213, 0);
} */

.logo {
  position: relative;
  letter-spacing: 2px;
  transition: 0.6s;
}

/* nav.sticky {
	background-color: none;
	backdrop-filter: blur(10px);
} */

/* .user-profile {
  border-radius: 50%;
  width: 40px;
  margin-right: 1rem;
  cursor: pointer;
}

.user-profile-info {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
} */

/* .navbar {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
  background: linear-gradient(90deg, rgba(0,17,79,1) 0%, rgba(51,102,204,1) 100%);
} */


/* .nav-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .nav-search {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 2px;
  margin-left: 10px;
  border-radius: 999px;
} */

/* .material-icons {
  margin-left: 10px;
} */

/* .nav-search input {
  border: none;
  background-color: transparent;
  outline-width: 0;
} */

.nav-right {
  display: flex;
  align-items: center;
}

.nav-info {
  display: flex;
  align-items: center;
}

.nav-info.right {
  margin-right: 2rem;
}


#name {
  margin-right: 0;
  color: #eff2f5;
  cursor: pointer;
}

ul.links {
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 0;
}

.main-body {
  display: flex;
  /* flex-direction: column; */
  position: relative;
  z-index: 0;
  margin-top: 70px;
}

/* sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  flex: 0.33;
  /* float: left; */
}

.sidebar-row {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.sidebar-row:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.sidebar-row h4 {
  margin-left: 1rem;
  font-weight: 600;
  color:rgba(0, 0, 0, 0.75);
  font-size:large;
}

.message-box {
  display: flex;
  /* margin-top: 30px; */
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  width: 100%;
}

.message-box-top {
  display: flex;
  align-items: center;
  padding: 15px;
}

.message-box-top button {
  flex: 1;
  display: flex;
}

#btn-post {
  flex: 1;
  outline-width: 0;
  /* color: #333; */
  border: none;
  border-radius: 999px;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  /* width: 90%; */
  /* text-align: center; */
  padding: 15px 20px;
  margin: 0 10px;
  background-color: #eff2f5;
}

.feed {
  position: relative;
  flex: 0.6;
  padding: 30px 0px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 200px; */
  /* width: 80%; */
  /* text-align: center; */
}
/* post */
.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
}

.post-image img{
  width: 100%;
}

.post-top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.post-avatar {
  margin-right: 10px;
  
}

.post-top-info h3 {
  font-size: medium;
  color:black;
}

.post-top-info p {
  font-size: small;
  color: gray;
}

.post-buttom {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

.post-options {
  padding-top: 10px;
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: right;
  cursor: pointer;
  /* margin-right: 0; */
}

.post-option {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 5px;
  flex: 1;
}

.navbar .logo a {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar .links {
	display: flex;
	gap: 2rem;
	align-items: center;
}

.navbar .toggle_btn {
	color: black;
	font-size: 1.5rem;
	cursor: pointer;
	display: none;
}

.fa-solid {
  color: #fff;
}

.dropdown_menu {
	display: none;
	position: absolute;
	right: 2rem;
	top: 60px;
	width: 300px;
	height: 0;
	background-color: rgb(0,0,0,0.5);
	backdrop-filter: blur(15px);
  border-radius: 10px;
	overflow: hidden;
	transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
	height: auto;
  /* width: 80%; */
}

.dropdown_menu li {
	padding: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn-submit {
  float: right; /* Float the button to the right */
  margin-top: 10px;
  border-radius: 10px;
  padding: 5px 20px;
  /* background: rgb(0,17,79); */
  border: none;
  background:  rgba(51,102,204,1);
}

.btn-submit:hover,
.btn-post:hover,
.btn-success:hover {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add initial shadow */
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
}

.btn-submit:active,
.btn-post:active {
  box-shadow: none; /* Remove shadow when button is clicked */
  transform: translateY(1px); /* Add slight downward movement */
}

.content-box {
  /* background-color: #ffffff; */
  margin-bottom: 10px;
}

.fa-ellipsis {
  font-size: 1rem; /* Adjust the size of the icon */
  color: #333; /* Adjust the color of the icon */
  cursor: pointer; /* Make the icon clickable */
  position: absolute;
  top: 0;
  right: 5%;
}

.dropdown-menu {
  background-color: #f9f9f9; /* Light grey background color */
  border: none; /* Remove border */
  display: none;
}

.show {
  display: block;
}

.dropdown-item:hover {
    background-color:#adb1b4;
}

a:hover {
  color: white;
}

.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 30rem;
  height: auto;
  background-color: white;
  border-radius: 4px;
  /* text-align: center; */
  padding: 20px;
  position: relative;
}

input {
  margin: 0.4rem;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
}

.tag {
  padding: 15px;
}

.tag.salary{
  background-color: rgb(255, 242, 94);
  border: 2px solid rgb(255, 224, 20);
  border-radius: 10px;
  margin-top: 0;
  padding: 3px;
  font-size: 0.8rem;
  font-family: 'Kanit', sans-serif;
}

.tag.province{
  background-color:rgb(110, 233, 94);
  border: 2px solid rgb(76, 180, 62);
  border-radius: 10px;
  margin-top: 0;
  padding: 3px;
  font-size: 0.8rem;
  font-family: 'Kanit', sans-serif;
}

.tag.jobType{
  background-color:rgb(136, 217, 255);
  border: 2px solid rgb(72, 178, 228);
  border-radius: 10px;
  margin-top: 0;
  padding: 3px;
  font-size: 0.8rem;
  font-family: 'Kanit', sans-serif;
}

.post-bottom {
  padding: 15px;
}

.header-wrapper header {
  width: 100%;
  background: url(/static/img/company.jpg) no-repeat 50% 20% / cover;
  min-height: calc(100px + 15vw);
}

.header-wrapper .cols-container .left-col{
  padding: 25px 20px;
  text-align: center;
  max-width: 350px;
  position: relative;
  margin: 0 auto;
}

.header-wrapper .cols-container .left-col .img-container {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
}

.header-wrapper .cols-container .left-col .img-container img{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  box-shadow: 1px 3px 12px rgb(0,0,0,0.18)
}

/* .header-wrapper .cols-container .left-col .img-container span{
  position: absolute;
  background:chartreuse;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  bottom: 3px;
  right: 11px;
  border: 2px solid #fff;
} */

.header-wrapper .cols-container .left-col h2 {
  margin-top: 60px;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 5px;
}

.header-wrapper .cols-container .left-col p {
  font-size: 0.9rem;
  color: #818181;
  margin: 0;
}

.cols-container {
  /* display: flex; */
  justify-content: center; /* Center the content horizontally */
}

.recent {
  display: flex;
  font-weight: 600;
  font-size: 1.5rem;
  margin-left: 22%;
}

.descript {
  border: none;
  text-align: center;
  color: #818181;
  background-color: #f6f4f4;
}

.descript:focus {
  outline-color: rgb(72, 178, 228);
  border: none;
}


@media(max-width: 991.98px){
	.navbar .links {
		display: none;
	}

	.navbar .toggle_btn {
		display: block;
	}

	.dropdown_menu {
		display: block;
	}
}

@media (max-width: 767.98px) {
  .dropdown_menu {
		right: 2rem;
    left: 55%;
		width: 200px;
	}

  .sidebar-row {
    display: none;
  }
}

@media(max-width: 575.98px){
	.dropdown_menu {
		right: 2rem;
    left: 55%;
		width: 200px;
	}

  .sidebar-row {
    display: none;
  }

  .feed .post {
    width: 400px;
  }

  .recent {
    margin-left: 10%;
  }

  /* .nav-name {
    display: none;
  } */

  /* .main-body, .feed, .post {
    width: 100%;
  } */
  
}