.description {
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /* สไตล์เฉพาะสำหรับองค์ประกอบภายใน .description */
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif; /* กำหนดให้ทุกองค์ประกอบในเอกสารใช้ฟอนต์ Poppins */
    }

    html, body {
        height: 100%;
        display: grid;
        place-items: center;
        background: #f2f2f2; /* กำหนดสีพื้นหลัง */
        text-align: center;
    }

    .container_ {
        padding: 0 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .cards {
        height: 290px;
        max-width: 350px;
        margin: 0 20px;
        background: white;
        transition: 0.4s;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }

    .cards:hover {
        height: 470px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    }

    .cards .img img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .cards .top-text {
        padding: 5px;
    }

    .cards .top-text .name {
        font-size: 25px;
        font-weight: 600;
        color: #202020;
    }

    .cards .top-text p {
        font-size: 25px;
        font-weight: 600;
        color: #e74c3c;
        line-height: 20px;
    }

    .cards .bottom-text {
        padding: 0 20px 10px 20px;
        margin-top: 5px;
        background: white;
        opacity: 0;
        visibility: hidden;
        transition: 0.1s;
    }

    .cards:hover .bottom-text {
        opacity: 1;
        visibility: visible;
    }

    .cards .bottom-text .text {
        text-align: justify;
    }

    .cards .bottom-text .btn {
        margin: 10px 0;
        text-align: left;
    }

    .cards .bottom-text .btn a {
        text-decoration: none;
        background: #e74c3c;
        color: #f2f2f2;
        padding: 5px 8px;
        border-radius: 3px;
        display: inline-flex;
        transition: 0.2s;
    }

    .cards .bottom-text .btn a:hover {
        transform: scale(0.9);
    }

    @media screen and (max-width:978px) {
        .container_ {
            flex-wrap: wrap;
            flex-direction: column;
        }

        .cards {
            max-width: 700px;
            margin: 20px 0;
        }
    }
}
