body {
  background: rgb(0,17,79);
  background: linear-gradient(90deg, rgba(0,17,79,1) 0%, rgba(51,102,204,1) 100%);
}

.main {
  /* background-image: url(/static/img/career-job.jpg);
  background-repeat: no-repeat;
  background-size: 100%; */
  /* background-size: cover; */
  padding: 70px 0px;
  font-family: 'IBMPlexMono', sans-serif;
}

div.form-box {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: none;
}

/* .desc-form {
  margin-bottom: 8.5px;
} */

.form-box input {
  border-radius: 10px;
}

.form-box input:focus {
  box-shadow: 0 0 0;
  border: 2px solid #3366CC;
}

.register-btn {
  background-color: #3366CC;
  border: none;
  border-radius: 10px;
  color: white;
}

.register-btn:hover{
  color: black
}

.link {
  text-decoration: none;
  color: #3366CC;
}

.link:hover {
  color: rgba(51, 102, 204, 0.7)
}

.header {
  font-size: 3rem;
  color: white;
  margin-top: 0px;
}

.txt {
  font-size: 1.2rem;
  color: white;
  font-family: 'Kanit', sans-serif;
}

.mark {
  border-radius: 15px;
  background-color:rgb(250, 235, 215, 1);
}

.error {
  color: red;
  font-size: 90%;
}

/* input[type=text] {
  outline: none;
} */

.input-control input:focus {
  outline: 0;
}

/* This is our style for the invalid fields */
.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color : #ff3860;
  font-size: 9px;
  height: 13px;
}



/* .red
{
     margin-top: 5px;
     color: red;
     font-weight: bold;
}
    
.green
{
     margin-top: 5px;
     color: green;
     font-weight: bold;
} */


