<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <!-- Bootstrap CSS-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" 
        crossorigin="anonymous">
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-vZ5Aa19V9H+h73E9+Gti7GvDLxufM0oy2ltQ6pAgS5PZXpvaNbTFSuZjLegxhjGj" crossorigin="anonymous"></script> -->
      
        <!-- Font awsome Libary-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
      
        <!-- Style sheet-->
        <link rel="stylesheet" href="/static/css/board.css">
        <!-- <link rel="stylesheet" href="/static/css/home.css"> -->

        <!-- Font -->
        <link href='https://fonts.googleapis.com/css?family=Kanit&subset=thai,latin' rel='stylesheet' type='text/css'>

        <!-- icon -->
        <link rel="icon" type="image/x-icon" href="/static/icon/job-search.png">

        <!-- Jquery Thailand autocomplete -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
        <script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/JQL.min.js"></script>
        <script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dependencies/typeahead.bundle.js"></script>
        <link rel="stylesheet" href="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.css">
        <script type="text/javascript" src="https://earthchie.github.io/jquery.Thailand.js/jquery.Thailand.js/dist/jquery.Thailand.min.js"></script>

        <script defer src="static/js/navbar.js"></script>
        
        <title>HireThec - Board</title>
    </head>
      
    <body>
      <nav>
        <div class="navbar">
          <div class="nav-left">
            <div class="logo"><a href='/'>HireThec</a></div>
            <div class="nav-search">
              <span class="material-icons"><i class="fa-solid fa-magnifying-glass"></i></span>
              <input name="searchbar" type="text" id="input-box" placeholder="Search" autocomplete="off">
              <!-- <button>search</button> -->
            </div>
          </div>

          <div class="nav-right">
            <div class="nav-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Accout">
              <img src="/static/img/tweeterUserSmall.png" alt="user-profile" class="user-profile">
              <span id="name">Wira Junngamdee</span>
            </div>
            <ul class="links">
              <li><a href="/">Home</a></li>
              <li><a href="/board">Board</a></li>
              <li><a href="/logout">Log out</a></li>
            </ul>
            <div class="toggle_btn">
              <i class="fa-solid fa-bars"></i>
            </div>
          </div>
        </div>


        <div class="dropdown_menu open">
          <li><a href="/">Home</a></li>
          <li><a href="/board">Board</a></li>
          <li><a href="/logout">Log out</a></li>
        </div>
      </nav>
      <!-- nav end-->

      <!-- main-body start -->
      <div class="main-body">
        <!-- sidebar start -->
        <div class="sidebar">
          <div class="sidebar-row">
            <div class="nav-info" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Account">
              <img src="/static/img/tweeterUserSmall.png" alt="user-profile" class="user-profile-info">
              <h4>Wira Junngamdee</h4>
            </div>
          </div>
        </div>
        <!-- sidebar end -->
        <!-- feed start -->
        <div class="feed">
          <!-- message-box satrt -->
          <div class="message-box">
            <div class="message-box-top">
              <img src="/static/img/tweeterUserSmall.png" alt="user-profile" class="user-profile" name="avatar" id="avatar">
              <button id="btn-post">Start a post to find your partner</button>
            </div>
          </div>
          <!-- message-box end -->
          <!-- post start -->
          <div class="post">
            <div class="post-top">
              <img src="/static/img/tweeterUserSmall.png" alt="user-profile" class="user-profile post-avatar">
              <div class="post-top-info">
                <h3>Wira Junngamdee</h3>
                <p class="created">27 July at 16:56</p>  <!-- Create at -->
                <p class="edit">not edit</p>
              </div>
              <div class="dropdown-menu-container">
                <div class="dropdown" style="position: relative;"> <!-- Added dropdown-right class -->
                  <i class="fa-solid fa-ellipsis" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false"></i>
                  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id="edit" name="edited_at">Edit</a>
                    <a class="dropdown-item" id="hire" name="hired_at">Hired</a>
                    <a class="dropdown-item" id="delete" name="deleted_at">Delete</a>
                    <a class="dropdown-item" id="hide" style="color: red;">Hide</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="tag">
              <span class="tag salary">20,000-30,000</span>
              <span class="tag province">เชียงใหม่</span>
              <span class="tag jobType">Full-time</span>
            </div>
            <div class="post-bottom">
              <p>Content in form</p>
            </div>
            <div class="post-options">
              <div class="post-option">
                <button type="button" class="btn btn-success" id="no-hired">send resume</button>
                <!-- hired start -->
                <button type="button" class="btn btn-success hired" id="hired" disabled>hired</button>
                <!-- hired end -->
              </div>
            </div>
          </div>
          <!-- post end -->

          <!-- undo hide start-->
          <div class="undo-hide">
            <p class="close-back">+</p>
            <p class="undo-text">undo</p>
            <p class="undo-text hid" style="text-decoration: none;">Hid</p>
          </div>
          <!-- undo hide end-->

          <!-- undo delete start-->
          <div class="undo-delete">
            <p class="close-back">+</p>
            <p class="undo-text delete">undo</p>
            <p class="undo-text deleted" style="text-decoration: none;">Deleted</p>
          </div>
          <!-- undo deleted end-->

          <!-- post start -->
          <div class="post">
            <div class="post-top">
              <img src="/static/img/tweeterUserSmall.png" alt="user-profile" class="user-profile post-avatar">
              <div class="post-top-info">
                <h3>Wira Junngamdee</h3>
                <p class="created">27 July at 16:56</p>  <!-- Create at -->
                <p class="edit">not edit</p>
              </div>
            </div>
            <div class="tag">
              <span class="tag salary">20,000-30,000</span>
              <span class="tag province">เชียงใหม่</span>
              <span class="tag jobType">Full-time</span>
            </div>
            <div class="post-bottom">
              <p>Content in form</p>
            </div>
            <div class="post-image">
              <img src="/static/img/company.jpg" alt="">
            </div>
            <div class="post-options">
              <div class="post-option">
                <button type="button" class="btn btn-success">send resume</button>
              </div>
            </div>
          </div>
          <!-- post end -->
        </div>
        <!-- feed end -->

        <!-- Undo -->
        
        <!-- sidebar start -->
        <div class="sidebar right">
          <div class="sidebar-row">
            <h4>Top 5 jobs with the most job openings</h4>
          </div>
          <div class="sidebar-row">
            <div class="nav-info">
              <h4>Software Developer</h4>
              <span>count</span>
            </div>
          </div>
          <div class="sidebar-row">
            <div class="nav-info">
              <h4>UX/UI Designer</h4>
              <span>count</span>
            </div>
          </div>
          <div class="sidebar-row">
            <div class="nav-info">
              <h4>Data Analyst</h4>
              <span>count</span>
            </div>
          </div>
          <div class="sidebar-row">
            <div class="nav-info">
              <h4>Data Scientist</h4>
              <span>count</span>
            </div>
          </div>
          <div class="sidebar-row">
            <div class="nav-info">
              <h4>Cyber Security</h4>
              <span>count</span>
            </div>
          </div>
        </div>
        <!-- sidebar end -->
      </div>
      <!-- main-body end -->
      
      <div class="bg-modal">
          <div class="modal-content">
            <div class="close">+</div>
            <form id='post-form' method="post">
              <label for="company">ชื่อบริษัท</label>
              <span><input name="company" type="text" id="company"></span>
              <br>
              <label for="place">สถานที่ตั้ง</label>
              <span><input name="location" type="text" id="location"></span>
              <input name="province" type="text" id="province" placeholder=จังหวัด>
              <input name="amphoe" type="text" id="amphoe" placeholder="อำเภอ">
              <input name="district" type="text" id="district" placeholder="ตำบล">
              <input name="zipcode" type="text" id="zipcode" placeholder="รหัสไปรษณีย์">
              <br>
              <label for="job">ตำแหน่งงาน</label>
              <span><input name="job_name" type="text" id="jobname"></span>
              <br>
              <label for="salary">เงินเดือน</label>
              <span><input name="salary" type="int" id="salary"></span>
              <br>
              <label for="jobType">ลักษณะการทำงาน</label>
              <span><select name="job_time" >
                <option id="fullTime">Full time</option>
                <option id="partTime">Part time</option>
                <option id="hybrid">Hybrid</option>
              </select></span>
              <br>
              <label for="message">More Description</label>
              <textarea id="message"></textarea>
              <input type="hidden" id="entryid" name="id" value="">
              <input hidden name="owner_email" value="{{current_user.email}}">
              <input hidden name="owner_id" value="{{current_user.id}}">
              <button type="submit" class="btn-submit" style="color: #FFF;" >Post</button>
            </form>
          </div> 
      </div>
     
      <script>
        $(document).ready(function() {
          $(".dropdown").click(function() {
            $(this).find(".dropdown-menu").toggleClass("show");
          });

          // Close the dropdown menu when clicking outside of it
          $(document).click(function(e) {
            if (!$(e.target).closest('.dropdown').length) {
              $(".dropdown-menu").removeClass("show");
            }
          });

          $(".dropdown-item").click(function() {
            if ($(this).text().trim() === "Hide") {
              $(this).closest(".post").hide();
              $('.undo-hide').show();
            }
            if ($(this).text().trim() === "Delete") {
              $(this).closest(".post").hide();
              $('.undo-delete').show();
            }
            if ($(this).text().trim() === "Hired") {
              $('#no-hired').hide();
              $('#hired').show();
            }
          });

          $(".undo-text").click(function() {
            $(".post").show();
            $(".undo-hide").hide();
            $(".undo-delete").hide();
          });

          $(".close-back").click(function() {
            $(".undo-hide").hide();
            $(".undo-delete").hide();
          });
        });
      </script>
      
      <script src="/static/js/popup.js"></script>
      
      <script>
        //jQuery thailand
        $.Thailand({
          $district: $('#district'), // input ของตำบล
          $amphoe: $('#amphoe'), // input ของอำเภอ
          $province: $('#province'), // input ของจังหวัด
          $zipcode: $('#zipcode'), // input ของรหัสไปรษณีย์
      });
      </script>
      <script>
        //handle post methot to backend
        $('#post-form').submit(function(event){
          event.preventDefault();
          //handle selected jobType
          function handleSelection(selectedValue) {
            return selectedValue;
          }
          let formData = {};
          $(":input").each(function () {
            var key = $(this).attr('name');
            var val = $(this).val();
            if (key != 'submit' && key != 'searchbar') {
              formData[key] = val;
            }
          })
          console.log(formData)
          let url = $('#post-form').attr('action')
          $.post(url, formData, function (callbackData) {
            //window.location.reload()  
          });
        })
      </script>

    </body>
</html>

